body{
font-family:Arial;
background:#111;
color:white;
display:flex;
justify-content:center;
margin-top:80px;
}

.container{
width:600px;
}

#chat{
height:300px;
overflow:auto;
border:1px solid #333;
padding:10px;
margin-bottom:10px;
}

input{
width:80%;
padding:10px;
}

button{
padding:10px;
}